
$primary: #ffd900;

$theme-colors: (
    "primary": $primary
);

@import "../node_modules/bootstrap/scss/bootstrap";


/* Estilos generales */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos específicos para cada página */
/* Estilos para index.html */
h1 {
    text-align: center;
}

/* Estilos para about.html */
h2 {
    color: #007bff;
}

/* Estilos para services.html */
ul {
    margin-left: 30px;
}

/* Estilos para portfolio.html */
ul {
    margin-left: 30px;
}

/* Estilos para contact.html */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input,
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

